<%- include('../partials/head') %>
<body>
    <div class="div">
        <h1> Welcome to The Jeam!  %></h1><br>
    
        <p>Click <a href="/register">here</a> to register.</p> 
        <p>Click <a href="/login">here</a> to login.</p> 
        
    </div>
</body>
</html>
